{% extends 'biz/base.html' %}
{% load static %}


{% block title %}애니비즈 500 error{% endblock %}

{% block content %}
    <div class="row align-items-sm-center py-sm-10">
        <div class="col-sm-6">
            <div class="text-center text-sm-right mr-sm-4 mb-5 mb-sm-0">
                <img class="w-60 w-sm-100 mx-auto" src="{% static 'biz/svg/illustrations/think.svg' %}"
                     alt="Image Description" style="max-width: 15rem;">
            </div>
        </div>
        <div class="col-sm-6 col-md-4 text-center text-sm-left">
            <h1 class="display-1 mb-0">500-error</h1>
            <p class="lead">죄송합니다. 갑작스러운 서버측 문제가 발생하였습니다.</p>
            <p class="lead">해당 상태가 지속되는 경우 애니맨으로 문의해주시기 바랍니다.</p>
        </div>
    </div>
{% endblock %}