{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}


{% block all_field_sets %}

	<div class="row">
		<div class="col-{% block split-left %}{{ change_form_split.0|default:6 }}{% endblock %}">
			{% block field_sets %}
			{% for fieldset in adminform %}
			  {% include "admin/includes/fieldset.html" %}
			{% endfor %}
			{% endblock %}

			{% block after_field_sets %}{% endblock %}
		</div>
		<div class="col-{% block split-right %}{{ change_form_split.1|default:6 }}{% endblock %}">
			{% block inline_field_sets %}
			{% for inline_admin_formset in inline_admin_formsets %}
			    {% include inline_admin_formset.opts.template %}
			{% endfor %}
			{% endblock %}

			{% block after_related_objects %}{% endblock %}
		</div>
	</div>

{% endblock %}

