{% extends 'admin/statistics/base.html' %}
{% load dashboard cache %}


{% block content-stats %}

	{% cache 4000 recommend_stat request.GET.preset request.GET.start request.GET.end %}
	<div class="row">
		<div class="col-12">

			<hr class="mt-5 mb-5" />

			<h3 class="text-center">추천에 의한 회원가입</h3>
			{% chart 'RecommendedUserDailyChart' %}

			<hr class="mt-5 mb-5" />

			<h3 class="text-center">추천 가입자의 미션 건수</h3>
			{% chart 'RecommendedUserMissionDailyChart' %}

			<hr class="mt-5 mb-5" />

			<h3 class="text-center">추천 가입자의 결제내역</h3>
			{% chart 'RecommendedPaymentDailyChart' %}

			<hr class="mt-5 mb-5" />

			<h3 class="text-center">추천 가입자의 결제금액</h3>
			{% chart 'RecommendedPaymentSumDailyChart' %}

			<hr class="mt-5 mb-5" />

		</div>
	</div>
	{% endcache %}

{% endblock %}