{% load i18n admin_urls static admin_modify common %}

<div class="jumbotron mb-1 pt-3 pb-3">
	<h6>템플릿 질문 입력에 관하여</h6>
	<ul class="mb-0">
		<li>순번 : 해당 질문이 표시되는 순서입니다. 숫자가 적을 수록 먼저 표시되며, 숫자가 같은 질문 중에서는 먼저 입력된 질문이 먼저 표시됩니다.</li>
		<li>항목 이름 : 요청 미션내용을 정리해서 보여줄 때 헬퍼에게 표시되는 해당 항목의 이름입니다.</li>
		<li>질문 제목 : 고객이 미션내용을 입력할 때 상단에 보여지는 제목입니다.</li>
		<li>질문 설명 : 제목 밑에 표시되는 부가적인 설명 내용입니다.</li>
		<li>선택 항목 : 유형이 선택형(라디오, 체크박스)인 경우 표시될 항목입니다. 줄바꿈(엔터)으로 구분해서 입력하고, 부가적인 설명이 필요한 경우에는 콜론(:)을 붙여서 뒤에 추가해주면 됩니다.</li>
		<li>직접입력(기타) 추가 : 유형이 선택형(라디오, 체크박스)인 경우 표시될 항목입니다. 체크할 경우 선택 항목에 입력된 항목 외에 '기타'란이 추가되고 직접 입력을 받을 수 있습니다.</li>
	</ul>
</div>

{% include 'admin/edit_inline/tabular.html' %}
