{% load common %}

{% for item in data %}
    <div class="row">
        {% if item.value %}
    		<div class="{{ item.layout_class|default:item_layout_class }}">
				<p class="text-center mb-1">&nbsp;{{ item.percent }}&nbsp;</p>
				<h3 class="text-center number">{{ item.value }}</h3>
				<p class="text-center">{{ item.title }}</p>
    		</div>
        {% else %}
            {% for i in item %}
                <div class="{{ item_layout_class }} {{ i.layout_class }}">
                    <p class="text-center text-secondary mb-1">&nbsp;{{ i.percent }}&nbsp;</p>
                    <h3 class="text-center number">{{ i.value }}</h3>
                    <p class="text-center">{{ i.title }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}


<style>
	.number {
		font-weight: 200;
	}
</style>